<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  <div class="row">
      <div class="col-lg-2"></div>

      <div class="col-lg-8 my-4">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Seus contatos estão abaixo</p>



        <div class="responsive-table">
          <table class="table my-3">
            <tr>
              <td>Italo</td>
              <td>Silva</td>
              <td>343546758769</td>
              <td>italomsilva.if@gmail.com</td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>

<%- include('includes/footer')%>
